<footer>
<div class="container-fluid padding">
<div class="row text-center">
	<div class="col-md-4">
		<img id="foot-logo" src="img/logo.png">
		<hr class="light">
		<p>626-408-4889</p>
		<p>guoqifat@gmail.com</p>
		<p>111 Jelly Street</p>
		<p>City, State, 00000</p>
	</div>
	<div class="col-md-4">
		<hr class="light">
		<h5>Our hours</h5>
		<hr class="light">
		<p>Monday: 2pm - 3pm</p>
		<p>Wednesday: 2pm -3pm</p>
		<p>Friday: 12pm - 1pm</p>
	</div>
	<div class="col-md-4">
		<hr class="light">
		<h5>Service Area</h5>
		<hr class="light">
		<p>Santa Barbara</p>
		<p>Los Angeles</p>		
	</div>
	<div class="col-12">
		<hr class="light">
		<h5>&copy; moon-jelly.com</h5>
	</div>
</div>
</div>
</footer>
