<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<h1 class="display-4">Meet the Team</h1>
	</div>
	<hr>
	<div class="col-md-3">
		<div class="card">
			<img class="card-img-top" src="img/team1.png">
			<div class="card-body">
				<h4 class="card-title">Qi Guo</h4>
				<p class="card-text">Qi is the key.</p>
				<a href="#" class="btn btn-outline-secondary">See Profile</a>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card">
			<img class="card-img-top" src="img/team2.png">
			<div class="card-body">
				<h4 class="card-title">Navid</h4>
				<p class="card-text">Navid is the key.</p>
				<a href="#" class="btn btn-outline-secondary">See Profile</a>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card">
			<img class="card-img-top" src="img/team3.png">
			<div class="card-body">
				<h4 class="card-title">Aden</h4>
				<p class="card-text">Aden is the key.</p>
				<a href="#" class="btn btn-outline-secondary">See Profile</a>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card">
			<img class="card-img-top" src="img/team1.png">
			<div class="card-body">
				<h4 class="card-title">Jenny Yu</h4>
				<p class="card-text">Jenny is a fish.</p>
				<a href="#" class="btn btn-outline-secondary">See Profile</a>
			</div>
		</div>
	</div>

</div>
</div>
