{% extends 'layout.html' %}
{% block body %}
<form action="" method="POST">
            {% for Schedule_Entry_Form in schedForm.userfirstNamesSu%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            {{ schedForm.csrf_token() }}
            </p>
            {% endfor %}
        
            {% for Schedule_Entry_Form in schedForm.userfirstNamesM%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}
       
            {% for Schedule_Entry_Form in schedForm.userfirstNamesT%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}
        
            {% for Schedule_Entry_Form in schedForm.userfirstNamesW%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}
        
            {% for Schedule_Entry_Form in schedForm.userfirstNamesTh%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}
        
            {% for Schedule_Entry_Form in schedForm.userfirstNamesF%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}
        
            {% for Schedule_Entry_Form in schedForm.userfirstNamesS%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}
            <button>
	   		Submit
	   	</button>
        </form>

{% endblock %}





