{% extends 'layout.html' %}
{% block body %}
<form action="" method="POST">
            {% for Schedule_Entry_Form in schedForm.userfirstNamesSu1%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            {{ schedForm.csrf_token() }}
            </p>
            {% endfor %}
        
            {% for Schedule_Entry_Form in schedForm.userfirstNamesM1%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}
       
            {% for Schedule_Entry_Form in schedForm.userfirstNamesT1%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}
        
            {% for Schedule_Entry_Form in schedForm.userfirstNamesW1%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}
        
            {% for Schedule_Entry_Form in schedForm.userfirstNamesTh1%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}
        
            {% for Schedule_Entry_Form in schedForm.userfirstNamesF1%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}
        
            {% for Schedule_Entry_Form in schedForm.userfirstNamesS1%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}




            {% for Schedule_Entry_Form in schedForm.userfirstNamesSu2%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            {{ schedForm.csrf_token() }}
            </p>
            {% endfor %}
        
            {% for Schedule_Entry_Form in schedForm.userfirstNamesM2%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}
       
            {% for Schedule_Entry_Form in schedForm.userfirstNamesT2%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}
        
            {% for Schedule_Entry_Form in schedForm.userfirstNamesW2%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}
        
            {% for Schedule_Entry_Form in schedForm.userfirstNamesTh2%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}
        
            {% for Schedule_Entry_Form in schedForm.userfirstNamesF2%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}
        
            {% for Schedule_Entry_Form in schedForm.userfirstNamesS2%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}


            {% for Schedule_Entry_Form in schedForm.userfirstNamesSu3%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            {{ schedForm.csrf_token() }}
            </p>
            {% endfor %}
        
            {% for Schedule_Entry_Form in schedForm.userfirstNamesM3%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}
       
            {% for Schedule_Entry_Form in schedForm.userfirstNamesT3%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}
        
            {% for Schedule_Entry_Form in schedForm.userfirstNamesW3%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}
        
            {% for Schedule_Entry_Form in schedForm.userfirstNamesTh3%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}
        
            {% for Schedule_Entry_Form in schedForm.userfirstNamesF3%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}
        
            {% for Schedule_Entry_Form in schedForm.userfirstNamesS3%}
            <p>
            {{ Schedule_Entry_Form.hidden_tag() }}
            {{Schedule_Entry_Form.label}}
            {{Schedule_Entry_Form}}
            </p>
            {% endfor %}

            <button>
                  Submit
            </button>
        </form>

{% endblock %}